.footer{
	position: fixed;
	bottom: 0;
  width: 100%;
}

.hidden{
	display:none;
}

.skateparks{
	overflow-y: scroll;
	padding-bottom: 40px;
}

li{
	list-style-type: none;
	margin-bottom:2%;
}

a{
	text-decoration:none;
}

#main-map-page > div.ui-content > div > li > a{
	color:black;
	font-weight:520;
}

#login-page{
	  background: url('http://25.media.tumblr.com/6430652cfc6aca35aca9c9bb42a59032/tumblr_mjd43hi5Av1r350k4o1_500.jpg');
    background-size: cover;
    height:inherit;
}

a.ui-btn.login-btn, a.ui-btn.explore-btn{
	font-size:20px;
	/*resize login screen buttons*/
}
/*
#googleMap{
	width:100%;
}*/

.main-map-content{
	padding:0;
	width:100%;
}

.map-header{
	position:fixed;
	width:100%;
}