.footer{
	position: fixed;
	bottom: 0;
  width: 100%;
}

.hidden{
	display:none;
}

.skateparks{
	overflow-y: scroll;
	padding-bottom: 40px;
}

li{
	list-style-type: none;
	margin-bottom:2%;
}

a{
	text-decoration:none;
}

#main-map-page > div.ui-content > div > li > a{
	color:black;
	font-weight:520;
}

#login-page{
	  /*background: url('http://25.media.tumblr.com/6430652cfc6aca35aca9c9bb42a59032/tumblr_mjd43hi5Av1r350k4o1_500.jpg');*/
	  background: url('../imgs/skate-life.jpg');
    background-size: cover;
    height:inherit;
}

a.ui-btn.login-btn, a.ui-btn.explore-btn{
	font-size:20px;
	/*resize login screen buttons*/
}
/*
#googleMap{
	width:100%;
}*/

/*.main-map-content{
	padding:0;
	width:100%;
}

.map-header{
	position:fixed;
	width:100%;
}*/


/*map resizing section*/
#content{
	padding:0;
	position: absolute !important;
	top: 40px !important;
	right:0;
	bottom: 40px !important;
	left: 0 !important;
	width:100% !important;
	height:90vh !important;
	/*changed height from 40px !important to 25em*/
}

.skateparks{
	overflow-y:scroll;
	height:2em;
	margin-top:24em;
}

.ui-panel.ui-panel-open{
	position:fixed;
}
.ui-panel-inner{
	position:absolute;
	top:1px;
	left:0;
	right:0;
	bottom:0;
	overflow: scroll;
	-webkit-overflow-scrolling:touch;
}

.ui-btn-active{
	background-color:orange;
}

.ui-focus, .ui-btn:focus, .ui-btn:active{
	background-color:orange;
}

div.ui-input-text.ui-body-inherit{
	width:40%;
	margin:auto;
}


#skatepark-page > div.ui-content > div.ui-btn.ui-input-btn.ui-corner-all.ui-shadow{
	width:20%;
	height:25%;
	margin-left:auto;
	margin-right:auto;
	margin-top:3.5%;
	font-size: .7em;
	background-color: orange;
}

.skatepark-page{
	width:80%;
	margin:auto;
	text-align:center;
}

.ui-header{
	font-family: 'Covered By Your Grace', sans-serif;
	font-size:1em;
	letter-spacing: .1em;
}

.center{
	text-align:center;
}

.center-img{
	padding-top:1em;
	width:80%;
	margin:auto;
}

.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div{
	border-radius:10px !important;
	border:1px solid #559641;
}

.messages-div{
	width:65%;
	margin:auto;
	margin-top: 3em;
}

.message{
	width:100%;
	height:4em;
	border: 1px solid black;
	margin-bottom:1.5%;
	display:table;
	border-radius:15px;
}

.message p{
	padding-left:15px;
	padding-right:15px;
	display:table-cell;
	vertical-align:middle;
}

.user-profile-img{
	height:80%;
	border-radius:50%;
  display: inline-block;
  margin-top: .4em;
  margin-left: .4em;
  float:left;
  border:1px solid black;
}

.message-text{
	display:inline-block;
}
