<?xml version="1.0" encoding="UTF-8" ?>
   <widget xmlns   = "http://www.w3.org/ns/widgets"
       xmlns:gap   = "http://phonegap.com/ns/1.0"
       id          = "com.skate-life.mobile-test"
       versionCode = "10"
       version     = "1.0.0" >

   <!-- versionCode is optional and Android only -->

   <name>Skate Life Mobile</name>

   <description>
       Skate Life mobile application.
   </description>

   <author href="http://phonegap.com" email="harveydngo@gmail.com">
       Team SICH
   </author>

    <gap:plugin name="org.apache.cordova.inappbrowser"/>
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="nl.x-services.plugins.toast" version="1.0" />
    <access origin="*"/>
    <preference name="permissions" value="none"/>

    <feature name="http://api.phonegap.com/1.0/geolocation"/>

    <access origin="http://firebaseio.com" />
    <access origin="http://auth.firebase.com" />
    <access uri="https://*.firebaseio.com" subdomains="true" />

    <access origin="*.google.com"/>
    <access origin="*.googleapis.com"/>


</widget>