@font-face {
  font-family: 'Covered By Your Grace';
  font-style: normal;
  font-weight: 400;
  src: local('Covered By Your Grace'), local('CoveredByYourGrace'), url(http://fonts.gstatic.com/s/coveredbyyourgrace/v6/6ozZp4BPlrbDRWPe3EBGA8Swx7O1nRJXGXrmuE0DD7s.ttf) format('truetype');
}
